# Required for Storyblok API Integration
STORYBLOK_TOKEN=your_delivery_api_token

# Required for Storyblok Management (Pushing schemas)
STORYBLOK_SPACE_ID=your_space_id
STORYBLOK_MANAGEMENT_TOKEN=your_management_token

# SEO Base URL
PUBLIC_SITE_URL=https://yourdomain.com
